{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 
        '@acc_wizard_css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content -%}
    <h1>Crear contrato de "Arriendo"</h1>
    <form id="form" name="contratosbundle_arriendo" action="{{ path('arriendo_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row acc-wizard">
            <div style="padding-left: 2em;" class="col-md-2">
                <p style="margin-bottom: 2em;">
                  Siga los siguientes pasos para completar el formulario.
                </p>
                <ol class="acc-wizard-sidebar">
                  <li class="acc-wizard-todo acc-wizard-active"><a href="#collapseFecha">Fecha y ciudad</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseArrendador">Datos del Arrendador</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseArrendatario">Datos del Arrendatario</a></li>
                  <li class="acc-wizard-todo"><a href="#collapsePropiedad">Datos de la propiedad</a></li>
                  <li class="acc-wizard-todo"><a href="#collapsePlazo">Plazo del arriendo</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseRenta">Renta del arrendamiento</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseEntrega">Entrega del inmueble</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseObligacionesArrendador">Obligaciones del arrendador</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseObligacionesArrendatario">Obligaciones del arrendatario</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseRecision">Término del contrato</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseGarantia">Depósito en garantía</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseAval">Codeudor solidario</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseJursidiccion">Jurisdicción</a></li>
                  <li class="acc-wizard-todo"><a href="#collapseCorreo">Correo electrónico</a></li>
                  <li class="acc-wizard-todo"><a href="#collapsePersoneria">Personería</a></li>
                </ol>
            </div>
            <div class="col-md-10" style="padding-right: 2em;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFecha" aria-expanded="true" aria-controls="collapseFecha">
                          Fecha y ciudad
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFecha" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFecha">
                      <div class="panel-body">
                        {{ form_row(form.fecha) }}
                        {{ form_row(form.ciudad) }}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingArrendador">
                      <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArrendador" aria-expanded="true" aria-controls="collapseArrendador">
                          Datos del Arrendador
                        </a>
                      </h4>
                    </div>
                    <div id="collapseArrendador" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingArrendador">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.arrendador_persona) }}
                            </div>
                            <div class="col-md-10">
                                <div id="arrendador_natural" style="display: none;">
                                    <h3>Persona natural</h3>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_sexo) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_rut) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_nombres) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_apellido_paterno) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_apellido_materno) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_nacionalidad) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_estado_civil) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_profesion) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_domicilio) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_region) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_natural_comuna) }}</div>
                                    </div>
                                </div>
                                <div id="arrendador_juridica" style="display: none;">
                                    <h3>Persona jurídica</h3>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_razon) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_giro) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_rut) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_domicilio) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_region) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendador_juridica_comuna) }}</div>
                                    </div>
                                    <ul id="arrendador_otorgante" class="representantes" data-prototype="{% filter escape %}{% include 'ContratosBundle:RepresentanteLegal:prototype.html.twig' with {'form': form.arrendador_juridica_representante.vars.prototype} %}{% endfilter %}">
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingArrendatario">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseArrendatario" aria-expanded="false" aria-controls="collapseArrendatario">
                          Datos del Arrendatario
                        </a>
                      </h4>
                    </div>
                    <div id="collapseArrendatario" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingArrendatario">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                {{ form_row(form.arrendatario_persona) }}
                            </div>
                            <div class="col-md-10">
                                <div id="arrendatario_natural" style="display: none;">
                                    <h3>Persona natural</h3>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_sexo) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_rut) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_nombres) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_apellido_paterno) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_apellido_materno) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_nacionalidad) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_estado_civil) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_profesion) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_domicilio) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_region) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_natural_comuna) }}</div>
                                    </div>
                                </div>
                                <div id="arrendatario_juridica" style="display: none;">
                                    <h3>Persona jurídica</h3>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_razon) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_giro) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_rut) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_domicilio) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_region) }}</div>
                                        <div class="col-md-4">{{ form_row(form.arrendatario_juridica_comuna) }}</div>
                                    </div>
                                    <ul id="arrendatario_otorgante" class="representantes" data-prototype="{% filter escape %}{% include 'ContratosBundle:RepresentanteLegal:prototype.html.twig' with {'form': form.arrendatario_juridica_representante.vars.prototype} %}{% endfilter %}">
                                    </ul>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingPropiedad">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePropiedad" aria-expanded="false" aria-controls="collapsePropiedad">
                          Datos de la propiedad arrendada
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePropiedad" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPropiedad">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                {{ form_row(form.propiedad_calle) }}
                                {{ form_row(form.propiedad_region) }}
                                {{ form_row(form.propiedad_comuna) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(form.propiedad_numero) }}
                                {{ form_row(form.propiedad_departamento) }}
                                {{ form_row(form.propiedad_villa) }}
                            </div>
                        </div>
                        {{ form_row(form.propiedad_proposito) }}
                        <div id="propiedad_proposito" style="display: none;">
                        {{ form_row(form.propiedad_proposito_otro) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingPlazo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePlazo" aria-expanded="false" aria-controls="collapsePlazo">
                          Plazo del arriendo
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePlazo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPlazo">
                      <div class="panel-body">
                        {{ form_row(form.plazo_cantidad) }}
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.plazo_momento) }}
                            </div>
                            <div class="col-md-7">
                                <div id="plazo_momento" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.plazo_momento_fecha) }}
                                </div>
                            </div>
                        </div>
                        {{ form_row(form.plazo_duracion_contrato) }}
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.plazo_prorroga) }}
                            </div>
                            <div class="col-md-7">
                                <div id="prorroga_datos" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.plazo_prorroga_tiempo) }}
                                {{ form_row(form.plazo_aviso) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.plazo_forma) }}
                            </div>
                            <div class="col-md-7">
                                <div id="plazo_otro" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.plazo_carta) }}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRenta">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRenta" aria-expanded="false" aria-controls="collapseRenta">
                          Renta del arrendamiento
                        </a>
                      </h4>
                    </div>
                    <div id="collapseRenta" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRenta">
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.renta_monto) }}</div>
                            <div class="col-md-6">{{ form_row(form.renta_unidad) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.renta_periodo) }}</div>
                            <div class="col-md-6">{{ form_row(form.renta_tiempo) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.renta_dias_inicio) }}</div>
                            <div class="col-md-6">al {{ form_widget(form.renta_dias_fin) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.renta_medio_pago) }}
                            </div>
                            <div class="col-md-7">
                                <div id="efectivo" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.renta_medio_efectivo_entrega) }}
                                    <div id="efectivo_entrega" style="display: none">
                                    {{ form_row(form.renta_medio_efectivo_entrega_otro) }}
                                    </div>
                                </div>
                                <div id="cheque" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.renta_medio_cheque) }}
                                    <div id="renta_medio_cheque" style="display: none">
                                    {{ form_row(form.renta_medio_cheque_otro) }}
                                    </div>
                                </div>
                                <div id="deposito" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.renta_medio_deposito_titular) }}
                                    {{ form_row(form.renta_medio_deposito_tipo) }}
                                    {{ form_row(form.renta_medio_deposito_numero) }}
                                    {{ form_row(form.renta_medio_deposito_banco) }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.renta_medio_deposito_envio) }}
                            </div>
                            <div class="col-md-7">
                                <div id="renta_medio_deposito_envio" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.renta_medio_deposito_envio_otro) }}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.renta_medio_reajuste) }}
                            </div>
                            <div class="col-md-7">
                                <div id="reajuste" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.renta_reajuste_periodo) }}
                                {{ form_row(form.renta_reajuste_forma) }}
                                <div id="renta_reajuste_forma" style="display: none;">
                                    {{ form_row(form.renta_reajuste_forma_otro) }}
                                </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.renta_mora_sancion) }}
                            </div>
                            <div class="col-md-7">
                                <div id="sancion" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.renta_mora_periodo) }}
                                {{ form_row(form.renta_mora_valor) }}
                                <div id="renta_mora_valor" style="display: none;">
                                    {{ form_row(form.renta_mora_valor_otro) }}
                                </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-5">
                                {{ form_row(form.renta_cobranza) }}
                            </div>
                            <div class="col-md-7">
                                <div id="cobranza_datos" class="bg-warning" style="display: none; padding: 20px;">
                                {{ form_row(form.renta_cobranza_plazo) }}
                                {{ form_row(form.renta_cobranza_notificacion) }}
                                {{ form_row(form.renta_cobranza_avaluo) }}
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEntrega">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEntrega" aria-expanded="false" aria-controls="collapseEntrega">
                          Entrega del inmueble
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEntrega" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEntrega">
                      <div class="panel-body">
                        {{ form_row(form.entrega_fecha) }}
                        {{ form_row(form.entrega_inventario) }}
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingObligacionesArrendador">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseObligacionesArrendador" aria-expanded="false" aria-controls="collapseObligacionesArrendador">
                          Obligaciones del arrendador
                        </a>
                      </h4>
                    </div>
                    <div id="collapseObligacionesArrendador" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingObligacionesArrendador">
                      <div class="panel-body">
                        {{ form_row(form.obligacion_arrendador_pagar) }}
                        {{ form_row(form.obligacion_arrendador_finalidad) }}
                        {{ form_row(form.obligacion_arrendador_estado) }}
                        {{ form_row(form.obligacion_arrendador_responder) }}
                        {{ form_row(form.obligacion_arrendador_agua) }}
                        {{ form_row(form.obligacion_arrendador_gastos) }}
                        {{ form_row(form.obligacion_arrendador_subarrendar) }}
                        {{ form_row(form.obligacion_arrendador_devolver) }}
                        {{ form_row(form.obligacion_arrendador_otro) }}
                        <div id="obligacion_arrendador_otro" style="display: none;">
                        {{ form_row(form.obligacion_arrendador_otro_texto) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingObligacionesArrendatario">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseObligacionesArrendatario" aria-expanded="false" aria-controls="collapseObligacionesArrendatario">
                          Obligaciones del arrendatario
                        </a>
                      </h4>
                    </div>
                    <div id="collapseObligacionesArrendatario" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingObligacionesArrendatario">
                      <div class="panel-body">
                      {{ form_row(form.obligacion_arrendatario_garantia) }}
                      {{ form_row(form.obligacion_arrendatario_contribuciones) }}
                      {{ form_row(form.obligacion_arrendatario_reparacion) }}
                      {{ form_row(form.obligacion_arrendatario_otro) }}
                      <div id="obligacion_arrendatario_otro" style="display: none;">
                      {{ form_row(form.obligacion_arrendatario_otro_texto) }}
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingRecision">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseRecision" aria-expanded="false" aria-controls="collapseRecision">
                          Término del contrato
                        </a>
                      </h4>
                    </div>
                    <div id="collapseRecision" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingRecision">
                      <div class="panel-body">
                          <p>EL ARRENDADOR podrá poner término al presente contrato, si:</p>
                          {{ form_row(form.termino_arrendador_primero) }}
                          {{ form_row(form.termino_arrendador_segundo) }}
                          {{ form_row(form.termino_arrendador_otro) }}
                          <div id="termino_arrendador_otro" style="display: none;">
                          {{ form_row(form.termino_arrendador_otro_texto) }}
                          </div>
                          <hr>
                          <p>EL ARRENDATARIO podrá poner término al presente contrato, sin necesidad de declaración judicial, si:</p>
                          {{ form_row(form.termino_arrendatario_primero) }}
                          {{ form_row(form.termino_arrendatario_segundo) }}
                          {{ form_row(form.termino_arrendatario_otro) }}
                          <div id="termino_arrendatario_otro" style="display: none;">
                          {{ form_row(form.termino_arrendatario_otro_texto) }}
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingGarantia">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseGarantia" aria-expanded="false" aria-controls="collapseGarantia">
                          Depósito en garantía
                        </a>
                      </h4>
                    </div>
                    <div id="collapseGarantia" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingGarantia">
                      <div class="panel-body">
                        {{ form_row(form.garantia_deposito) }}
                        <div id="garantia_datos" style="display: none;">
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form_row(form.garantia_forma) }}
                                </div>
                                <div class="col-md-7">
                                    <div id="garantia_forma" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.garantia_forma_otro) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    {{ form_row(form.garantia_monto) }}
                                </div>
                                <div class="col-md-7">
                                    <div id="garantia_monto" class="bg-warning" style="display: none; padding: 20px;">
                                    {{ form_row(form.garantia_monto_otro) }}
                                    </div>
                                </div>
                            </div>
                            {{ form_row(form.garantia_dias_terminado) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingAval">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAval" aria-expanded="false" aria-controls="collapseAval">
                          Codeudor solidario
                        </a>
                      </h4>
                    </div>
                    <div id="collapseAval" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAval">
                      <div class="panel-body">
                        {{ form_row(form.aval) }}
                        <div id="aval_datos" style="display: none;">
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.aval_sexo) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_rut) }}</div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.aval_nombres) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_apellido_paterno) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_apellido_materno) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.aval_nacionalidad) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_estado_civil) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_profesion) }}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">{{ form_row(form.aval_domicilio) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_comuna) }}</div>
                                <div class="col-md-4">{{ form_row(form.aval_region) }}</div>
                            </div>
                            {{ form_row(form.aval_duracion) }}
                            <div id="aval_duracion" style="display: none;">
                            {{ form_row(form.aval_duracion_otro) }}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingJurisdiccion">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseJurisdiccion" aria-expanded="false" aria-controls="collapseJurisdiccion">
                          Jurisdicción
                        </a>
                      </h4>
                    </div>
                    <div id="collapseJurisdiccion" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingJurisdiccion">
                      <div class="panel-body">
                        {{ form_row(form.jurisdiccion) }}
                        <div id="jurisdiccion" style="display: none;">
                            {{ form_row(form.jurisdiccion_comuna) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCorreo">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseCorreo" aria-expanded="false" aria-controls="collapseCorreo">
                          Correo electrónico
                        </a>
                      </h4>
                    </div>
                    <div id="collapseCorreo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingCorreo">
                      <div class="panel-body">
                        {{ form_row(form.correo) }}
                        <div id="correo_datos" style="display: none;">
                            {{ form_row(form.correo_arrendador) }}
                            {{ form_row(form.correo_arrendatario) }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingPersoneria">
                      <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsePersoneria" aria-expanded="false" aria-controls="collapsePersoneria">
                          Personería
                        </a>
                      </h4>
                    </div>
                    <div id="collapsePersoneria" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPersoneria">
                      <div class="panel-body">
                        <div class="row">
                            <div id="personeria_arrendador" class="col-md-6" style="display: none;">
                                <h4>Personería arrendador</h4>
                                {{ form_row(form.personeria_arrendador_fecha) }}
                                {{ form_row(form.personeria_arrendador_notaria) }}
                                {{ form_row(form.personeria_arrendador_lugar) }}
                            </div>
                            <div id="personeria_arrendatario" class="col-md-6" style="display: none;">
                                <h4>Personería arrendatario</h4>
                                {{ form_row(form.personeria_arrendatario_fecha) }}
                                {{ form_row(form.personeria_arrendatario_notaria) }}
                                {{ form_row(form.personeria_arrendatario_lugar) }}
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <hr>
                <button id="enviar" class="btn btn-primary pull-right" type="submit">Guardar</button>
                <div class="hide">{{ form_rest(form) }}</div>
            </div>
        </div>
    </form>
    {#{{ form(form) }}#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='yui_js' combine=true
        '@acc_wizard_js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $('input[name$="[arrendador_persona]"]:radio').change(function(){
            if($(this).val() == "Natural"){
                $("#arrendador_natural").show();
                $("#arrendador_juridica").hide();
                $("#personeria_arrendador").hide();
            }
            else {
                $("#arrendador_natural").hide();
                $("#arrendador_juridica").show();
                $("#personeria_arrendador").show();
            }
        });
        
        $('input[name$="[arrendatario_persona]"]:radio').change(function(){
            if($(this).val() == "Natural"){
                $("#arrendatario_natural").show();
                $("#arrendatario_juridica").hide();
                $("#personeria_arrendatario").hide();
            }
            else {
                $("#arrendatario_natural").hide();
                $("#arrendatario_juridica").show();
                $("#personeria_arrendatario").show();
            }
        });
        
        $('input[name$="[propiedad_proposito]"]:radio').on('change', function() {
            if($(this).val() == "Otro"){
                $("#propiedad_proposito").show();
            }
            else {
                $("#propiedad_proposito").hide();
            }
        });
        
        $('input[name$="[plazo_momento]"]:radio').change(function(){
            if($(this).val() == "Otro"){
                $("#plazo_momento").show();
            }
            else {
                $("#plazo_momento").hide();
            }
        });
        
        $('input[name$="[plazo_prorroga]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#prorroga_datos").show();
            }
            else {
                $("#prorroga_datos").hide();
            }
        });
        
        $('select[name$="[plazo_forma]"]').on('change', function() {
            if($(this).val() == "Otro"){
                $("#plazo_otro").show();
            }
            else {
                $("#plazo_otro").hide();
            }
        });

        $('select[name$="[renta_medio_pago]"]').on('change', function() {
            if($(this).val() == "efectivo"){
                $("#efectivo").show();
                $("#cheque").hide();
                $("#deposito").hide();
            }
            else if($(this).val() == "cheque"){
                $("#efectivo").hide();
                $("#cheque").show();
                $("#deposito").hide();
            }
            else if($(this).val() == "deposito"){
                $("#efectivo").hide();
                $("#cheque").hide();
                $("#deposito").show();
            }
            else {
                $("#efectivo").hide();
                $("#cheque").hide();
                $("#deposito").hide();
            }
        });
        
        $('input[name$="[renta_medio_efectivo_entrega]"]:radio').change(function(){
            if($(this).val() == "Otro"){
                $("#efectivo_entrega").show();
            }
            else {
                $("#efectivo_entrega").hide();
            }
        });
        
        $('input[name$="[renta_medio_cheque]"]:radio').change(function(){
            if($(this).val() == "Otro"){
                $("#renta_medio_cheque").show();
            }
            else {
                $("#renta_medio_cheque").hide();
            }
        });
        
        $('input[name$="[renta_medio_deposito_envio]"]:radio').change(function(){
            if($(this).val() == "email" || $(this).val() == "otro"){
                $("#renta_medio_deposito_envio").show();
            }
            else {
                $("#renta_medio_deposito_envio").hide();
            }
        });
        
        $('input[name$="[renta_medio_reajuste]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#reajuste").show();
            }
            else {
                $("#reajuste").hide();
            }
        });
        
        $('select[name$="[renta_reajuste_forma]"]').on('change', function() {
            if($(this).val() == "otro"){
                $("#renta_reajuste_forma").show();
            }
            else {
                $("#renta_reajuste_forma").hide();
            }
        });
        
        $('select[name$="[renta_mora_valor]"]').on('change', function() {
            if($(this).val() == "otro"){
                $("#renta_mora_valor").show();
            }
            else {
                $("#renta_mora_valor").hide();
            }
        });
        
        $('input[name$="[renta_mora_sancion]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#sancion").show();
            }
            else {
                $("#sancion").hide();
            }
        });
        
        $('input[name$="[renta_cobranza]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#cobranza_datos").show();
            }
            else {
                $("#cobranza_datos").hide();
            }
        });
        
        $('input[type=checkbox][name$="[obligacion_arrendador_otro]"]').change(function() {
            if (this.value == 1) {
                if(this.checked){$("#obligacion_arrendador_otro").show();}
                else{$("#obligacion_arrendador_otro").hide();}
            }
	    });

        $('input[type=checkbox][name$="[obligacion_arrendatario_otro]"]').change(function() {
            if (this.value == 1) {
                if(this.checked){$("#obligacion_arrendatario_otro").show();}
                else{$("#obligacion_arrendatario_otro").hide();}
            }
	    });
	    
	    $('input[type=checkbox][name$="[termino_arrendador_otro]"]').change(function() {
            if (this.value == 1) {
                if(this.checked){$("#termino_arrendador_otro").show();}
                else{$("#termino_arrendador_otro").hide();}
            }
	    });
	    
	    $('input[type=checkbox][name$="[termino_arrendatario_otro]"]').change(function() {
            if (this.value == 1) {
                if(this.checked){$("#termino_arrendatario_otro").show();}
                else{$("#termino_arrendatario_otro").hide();}
            }
	    });
        
        $('input[name$="[recision_unilateral]"]:radio').change(function(){
            if($(this).val() == "Sí"){
                $("#recision_datos").show();
            }
            else {
                $("#recision_datos").hide();
            }
        });
        
        $('input[name$="[garantia_deposito]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#garantia_datos").show();
            }
            else {
                $("#garantia_datos").hide();
            }
        });
        
        $('select[name$="[garantia_forma]"]').on('change', function() {
            if($(this).val() == "Otro"){
                $("#garantia_forma").show();
            }
            else {
                $("#garantia_forma").hide();
            }
        });
        
        $('select[name$="[garantia_monto]"]').on('change', function() {
            if($(this).val() == "Otro"){
                $("#garantia_monto").show();
            }
            else {
                $("#garantia_monto").hide();
            }
        });
        
        $('input[name$="[aval]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#aval_datos").show();
            }
            else {
                $("#aval_datos").hide();
            }
        });
        
        $('input[name$="[aval_duracion]"]:radio').change(function(){
            if($(this).val() == "Otro"){
                $("#aval_duracion").show();
            }
            else {
                $("#aval_duracion").hide();
            }
        });
        
        $('input[name$="[jurisdiccion]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#jurisdiccion").show();
            }
            else {
                $("#jurisdiccion").hide();
            }
        });
        
        $('input[name$="[correo]"]:radio').change(function(){
            if($(this).val() == 1){
                $("#correo_datos").show();
            }
            else {
                $("#correo_datos").hide();
            }
        });
        
        function onNext(parent, panel) {
        hash = "#" + panel.id;
            $(".acc-wizard-sidebar",$(parent))
            .children("li")
            .children("a[href='" + hash + "']")
            .parent("li")
            .removeClass("acc-wizard-todo")
            .addClass("acc-wizard-completed");
        }
        
        $(window).load(function() {
            $(".acc-wizard").accwizard({
                backText: "Anterior",
                nextText: "Siguiente",
                onNext: onNext
            });
        })
        
        var validator = $("#form").bind("invalid-form.validate", function() {
			//console.log("Your form contains " + validator.numberOfInvalids() + " errors, see details below.");
		}).validate({
            ignore: "",
            lang: 'es',
            errorPlacement: function(error, element) {
			    // Append error within linked label
			    $(element).closest('.panel-collapse').collapse('show');
			    $(element).closest(".form-group").addClass("has-error");
			    $(element).on("click", function() {
                    $(this).closest(".form-group").removeClass("has-error");
                }); 
                var $span = $('<span class="label label-danger"></span>');
                $span.append(error);
			    $(element).closest(".form-group").find("label.control-label").append($span);
		    },
        });
        
        // only for demo purposes
        $("#enviar").click(function() {
            $('.panel-collapse.in').collapse('hide');
            console.log($('.has-error').length);
            $('.has-error').closest('.panel-collapse').collapse('show');
        });
        
        // Colección de Representantes
        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $('ul.representantes').each(function(index) {
                // setup an "add a tag" link
                var $addTagLink = $('<button type="button" class="add_tag_link btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Agregar representante legal</button>');
                var $newLinkLi = $('<li></li>').append($addTagLink);
                var $collectionHolder = $(this);
                 
                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
                
                // add a delete link to all of the existing tag form li elements
                $collectionHolder.find('li.representante').each(function() {
                    addTagFormDeleteLink($(this));
                });
        
                $addTagLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new tag form (see next code block)
                    addTagForm($collectionHolder, $newLinkLi);
                });
            });
        });
        
        function addTagForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');
            var id = $collectionHolder.attr('id');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, id + index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li class="representante"><a href="#" data-toggle="modal" data-target="#myModal' + id + index + '">Representante Legal '+index+'</a></li>').append(newForm);

            // add a delete link to the new form
            addTagFormDeleteLink($newFormLi);
            $newLinkLi.before($newFormLi);
            
            // Mostramos el modal
            $('#myModal' + id + index).modal('show');
        }
        
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $(' <a href="#">x</a>');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
            });
        }
    </script>
{% endblock %}
