{% extends '::word.html.twig' %}

{% block body -%}
    <h1>Contrato de Arrendamiento
Entre
{{ entity.arrendadornatural }}
Y
{{ entity.arrendatarionatural }}</h1>

    En Santiago, a 9 de abril de 2015
    
    {% if entity.arrendadorpersona == "Natural" %}
    entre {% if entity.arrendadornaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.arrendadornatural }}, {{ entity.arrendadornaturalnacionalidad }}, {{ entity.arrendadornaturalestadocivil }}, {{ entity.arrendadornaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendadornaturalrut }} domiciliado en {{ entity.arrendadornaturaldomicilio }}, comuna de {{ entity.arrendadornaturalcomuna }}, {{ entity.arrendadornaturalregion }}
    {% else %}
    entre {% if entity.arrendadornaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.arrendadornaturalnombres }} {{ entity.arrendadornaturalapellidopaterno }} {{ entity.arrendadornaturalapellidomaterno }}, {{ entity.arrendadornaturalnacionalidad }}, {{ entity.arrendadornaturalestadocivil }}, {{ entity.arrendadornaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendadornaturalrut }} en representación de {{ entity.arrendadorjuridicarazon }}, de giro de {{ entity.arrendadorjuridicagiro }}, rol único tributario número {{ entity.arrendadorjuridicarut }}, todos domiciliados para estos efectos en {{ entity.arrendadorjuridicadomicilio }}, comuna de {{ entity.arrendadorjuridicacomuna }}, {{ entity.arrendadorjuridicaregion }}, 
    {% endif %}
    en adelante e indistintamente, EL ARRENDADOR, por una parte, y por la otra,
    {% if entity.arrendatariopersona == "Natural" %}
    {{ entity.arrendatarionaturalnombres }} {{ entity.arrendatarionaturalapellidopaterno }} {{ entity.arrendatarionaturalapellidomaterno }}, {{ entity.arrendatarionaturalnacionalidad }}, {{ entity.arrendatarionaturalestadocivil }}, {{ entity.arrendatarionaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendatarionaturalrut }} domiciliado/a en {{ entity.arrendatarionaturaldomicilio }}, comuna de {{ entity.arrendatarionaturalcomuna }}, {{ entity.arrendatarionaturalregion }}, en adelante e indistintamente, EL ARRENDATARIO, han convenido en celebrar el siguiente contrato de arrendamiento, el cual se regirá la Ley N° 18.101 sobre arrendamiento de predios urbanos, y por disposiciones pertinentes del Código Civil.
    {% else %}
    {% if entity.arrendatarionaturalsexo == "Hombre" %}Don{% else %}Doña{% endif %} {{ entity.arrendatarionaturalnombres }} {{ entity.arrendatarionaturalapellidopaterno }} {{ entity.arrendatarionaturalapellidomaterno }}, {{ entity.arrendatarionaturalnacionalidad }}, {{ entity.arrendatarionaturalestadocivil }}, {{ entity.arrendatarionaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendatarionaturalrut }} en representación de {{ entity.arrendatariojuridicarazon }}, del giro {{ entity.arrendatariojuridicagiro }}, rol único tributario número {{ entity.arrendatariojuridicarut }}, todos domiciliados en {{ entity.arrendatariojuridicadomicilio }}, comuna de {{ entity.arrendatariojuridicacomuna }}, {{ entity.arrendatariojuridicaregion }}, en adelante e indistintamente, EL ARRENDATARIO, han convenido en celebrar el siguiente contrato de arrendamiento, el cual se regirá la Ley N° 18.101 sobre arrendamiento de predios urbanos, y por disposiciones pertinentes del Código Civil.
    {% endif %}
    
    <p>PRIMERO: {{ entity.arrendatarionaturalnombres }} declara bajo juramento que es dueño de la propiedad raíz ubicada en {{ entity.propiedadcalle }} {{ entity.propiedadnumero }} {{ entity.propiedaddepartamento is empty ? '' : entity.propiedaddepartamento }}, {% if entity.propiedadvilla %}{{ entity.propiedadvilla }}, {%endif %}comuna de {{ entity.propiedadcomuna }}, {{ entity.propiedadregion }}., el adelante, el BIEN ARRENDADO.</p>
    
    <p>SEGUNDO: Por el presente instrumento EL ARRENDADOR, entrega en arriendo a EL ARRENDATARIO, quien acepta, el inmueble singularizado en la cláusula precedente por los plazos y en las condiciones que en el presente contrato se establecen.</p>
    
    <p>TERCERO: El plazo de duración del presente contrato de arrendamiento será de {{ entity.plazomomento }} {{ entity.plazounidad }} contados desde la fecha del presente contrato.
    
    {% if entity.plazoprorroga == "Sí" %}
    Sin perjuicio de lo anterior, el contrato se entenderá prorrogado automáticamente por períodos de {{ entity.plazoprorrogatiempo }} si ninguna de las partes manifiesta su intención de terminar el contrato con a lo menos {{ entity.plazoaviso }} de anticipación a la fecha de término del mismo o de alguna de sus prórrogas, mediante {% if entity.plazoforma %}{{ entity.plazoforma }}{% else %}{{ entity.plazocarta }}{% endif %} ARRENDADOR señalada en el presente contrato. 
    {% endif %}
    </p>
    
    <p>
    CUARTO: La renta de arrendamiento {{ entity.rentaperiodo }} será la suma de ${{ entity.rentamonto }} {{ entity.rentaunidad }}, que la arrendataria deberá pagar, {{ entity.rentatiempo }}, de manera anticipada, entre los días {{ entity.rentadias }} del mes en que corresponda hacer el pago, 
    {% if entity.rentamediopago == "efectivo" %}
    en efectivo entregado en el domicilio del arrendador señalado en la comparecencia{{ entity.rentamedioefectivo }}
    {% elseif entity.rentamediopago == "cheque" %}
    a través de un {{ entity.rentamediocheque }},
    {% elseif entity.rentamediopago == "deposito" %}
    depositando en la cuenta {{ entity.rentamediodepositotipo }} número {{ entity.rentamediodepositonumero }} del Banco {{ entity.rentamediodepositobanco }} a nombre de {{ entity.rentamediodepositotitular }}. Luego deberá enviar el comprobante de pago {{ entity.rentamediodepositoenvio }} señalado en la comparecencia. 
    {% endif %}
    
    {% if entity.rentamedioreajuste == "Si" %}
    Dicha renta se reajustará {{ entity.rentareajusteperiodo }} por {{ entity.rentareajusteforma }}, durante dicho período.

El período de reajuste se iniciará en el primer mes de contrato, o el mes en que se haya efectuado el último reajuste de la renta, y se hará efectivo en la renta que corresponda al mes siguiente a aquel en que hubiere expirado el período de reajuste señalado en el párrafo anterior.

    {% else %}
    Dicha renta no se reajustará.
    {% endif %}
    
    {% if entity.rentamorasancion == "Si" %}
    Luego de {{ entity.rentamoraperiodo }} desde que el ARRENDATARIO se hubiera constituido en mora en el pago de la renta de arrendamiento, este deberá pagar, como multa por dicho retraso, {{ entity.rentamoravalor }} por día de atraso. Estas multas deberán ser pagadas junto con la renta del mes siguiente a aquel en que se hubieren generado.
    {% endif %}
    
    {% if entity.rentacobranza %}
    Asimismo, si luego de {{ entity.rentacobranzaplazo }} de mora EL ARRENDATARIO no pagare las rentas de arrendamiento, junto a las multas que correspondan, EL ARRENDATARIO podrá iniciar la cobranza judicial de las rentas de arrendamiento vencidas, lo que deberá ser notificado al ARRENDATARIO {{ entity.rentacobranzanotificacion }}.

El ARRENDADOR deberá costear los honorarios de los abogados que tramiten dichos cobros, que de forma anticipada se avalúan en {{ entity.rentacobranzaavaluo }}

Las multas u honorarios señalados en los párrafos anteriores deberán ser pagados por el ARRENDATARIO junto con la renta del mes siguiente a aquel en que dichas multas u honorarios se hubieren generado, y para todos los efectos, pasarán a formar parte de las rentas adeudadas por el ARRENDATARIO al ARRENDADOR.
    {% endif %}
    </p>
    
    {% if entity.entregafecha %}
    <p>
    QUINTO: La entrega material del inmueble arrendado se realiza el {{ entity.entregafecha }}. El ARRENDATARIO declara conocer y aceptar el estado de mantención y conservación del INMUEBLE ARRENDADO, obligándose a restituirlo al término del contrato de arrendamiento, en el mismo estado que lo recibió, habida consideración del tiempo y su uso legítimo. {% if entity.entregainventario %}Junto al inmueble, se entregan los bienes que se detallan en el inventario que se acompaña al presente contrato, el que debidamente firmado por las partes forma parte del mismo. Dichos bienes deberán ser restituidos al momento en que el inmueble se restituya” Además debe crearse una nueva página que denominada “Inventario Solemne de Bienes”{% endif %}
    </p>
    {% endif %}
    
    <p>
    SEXTO: {% if entity.restitucionacreditacion %}La ARRENDATARIA está obligada a pagar oportunamente los consumos de agua, energía eléctrica, y gas del inmueble.{% endif %}

Asimismo, el ARRENDATARIO se obliga a mantener en buen estado de conservación las instalaciones eléctricas, paredes, cielos, pisos, y artefactos sanitarios, entre otros, debiendo repararlos o cambiarlos a su costo si estos se destruyen o deterioran por el uso del ARRENDATARIO. 

En el caso que por acción del ARRENDATARIO o la de alguno de sus dependientes se produzcan daños en las propiedades vecinas o en los bienes comunes si existieren, deberá reparar a su cuenta el daño.

El ARRENDATARIO se compromete a dar todas las facilidades necesarias para que el ARRENDADOR pueda visitar el inmueble durante la vigencia del contrato para verificar su estado. También deberá permitir que, previa coordinación con el ARRENDADOR o sus representantes, el inmueble sea visitado por interesados en habitar el inmueble durante los últimos {{ entity.restitucionvisitaplazo }} {{ entity.restitucionvisitaunidad }} de vigencia del contrato.

Si se producen desperfectos en el inmueble que, según lo establecido en el presente contrato o en su defecto, en las leyes que regulan esta materia, deban ser reparados por el ARRENDADOR, el ARRENDATARIO deberá dar aviso al mismo.

Si el ARRENDATARIO o sus representantes no inician dentro los {{ entity.restitucioninicioplazo }} {{ entity.restitucioniniciounidad }} siguientes al aviso señalado en el párrafo anterior, las acciones destinadas a reparar dichos desperfectos, el ARRENDATARIO podrá realizarlas, descontando el costo de ellas de la renta de arrendamiento siguiente a la fecha en que se hubieren realizado dichos gastos.

SEPTIMO: Las mejoras que ejecutare el ARRENDATARIO, quedaran a beneficio de la propiedad, salvo que pueda retirarlas del inmueble arrendado sin detrimento o daño en el mismo.

    </p>
    
    <p>
    OCTAVO: Queda prohibida a al ARRENDATARIO lo siguiente (Incluir opciones de 10.2): 
    <ul>
    {% if entity.prohibicionsubarriendo %}
        <li>Subarrendar o transferir a cualquier título el inmueble arrendado.</li>
    {% endif %}
    {% if entity.prohibicionvariaciones %}
        <li>Hacer variaciones o transformaciones que afecten la estructura interna o externa del inmueble arrendado sin autorización por escrito del ARRENDADOR.</li>
    {% endif %}
    {% if entity.prohibicionutilizacion %}
        <li>Utilizar el inmueble con un fin distinto al que fue establecido en la cláusula primera del presente contrato.</li>
    {% endif %}
    {% if entity.prohibicionretraso %}
        <li>Retrasarse en el pago de las cuentas de servicios básicos (luz, agua potable, gas), o en los gastos comunes.</li>
    {% endif %}
    {% if entity.prohibicionperturbacion %}
        <li>Realizar cualquier acción que perturbe a los vecinos del inmueble, tales como ruidos molestos u obras en el inmueble a horas inadecuadas, entre otras.</li>
    {% endif %}
    {% if entity.prohibicionagujeros %}
        <li>Hacer agujeros en las paredes o puertas.</li>
    {% endif %}
    {% if entity.prohibicionnormativa %}
        <li>No cumplir con la normativa interna del condominio o edificio si corresponde.</li>
    {% endif %}
    {% if entity.prohibicionaccionilegal %}
        <li>Ejecutar cualquier acción ilegal, o contraria al orden público, en el interior del inmueble.</li>
    {% endif %}
        </ul>
    </p>
    
    <p>
        NOVENO: Por su parte, el ARRENDADOR estará obligado al pago de las contribuciones  de bienes raíces que afecten a la propiedad arrendada, y a garantizar al ARRENDATARIO el goce, libre de toda turbación, durante todo el tiempo que dure el presente contrato. 

Para efectos de lo anterior, la ARRENDATARIA deberá remitir prontamente {{ entity.recisionunilateralforma }} cualquier comunicación de la Tesorería General de la República, o de cualquier organismo de la administración del estado, referente al impuesto territorial, o a cualquier materia relacionada con el inmueble arrendado. 

Asimismo, el ARRENDADOR estará obligado a realizar a su costo las reparaciones de los deterioros producidos en el inmueble por el paso del tiempo, o por fuerza mayor, tales como daños estructurales en la propiedad a causa de terremotos, reparación de ascensores o reemplazo de calefones viejos, con el fin de que la propiedad siga sirviendo al fin por el que fue arrendada, sin que pueda, a causa de estos gastos, subir la renta mensual de arriendo.
    </p>
    
    <p>
    DECIMO: La ARRENDADORA estará facultada para poner término inmediato al presente contrato, sin necesidad de declaración judicial, si:
a) La Arrendataria se atrasare más de {{ entity.recisionpago }} {{ entity.recisionunidad }} en el pago de la renta de arrendamiento establecida en la cláusula cuarta de este contrato.

b) La Arrendataria infringiere  cualesquiera de las obligaciones contraídas por ella en este contrato, en especial las establecidas en la clausulas sexta, séptima o octava del mismo.

c) Las demás causas establecidas en la ley.

{% if entity.recisioncausal == "Sí" %}
d) Por su parte, la arrendadora podrá poner término inmediato al contrato, sin necesidad de una declaración judicial, cuando fuere perturbado en el goce del inmueble. {{ entity.recisioncausaldescripcion }}
{% endif %}

{% if entity.recisionunilateral == "Sí" %}
11.4 (Si la opción elegida es si, se agrega lo siguiente: Asimismo, cualquiera de las partes podrá rescindir el contrato mediante un aviso a la contraparte con a lo menos {{ entity.recisionunilateralanticipacion }} {{ entity.recisionunilateralunidad }}. de anticipación a la fecha en que quisiera darlo por terminado.

En cualquiera de los casos anteriores, la parte que quiera dar por terminado el contrato deber avisar a la otra a través de {{ entity.recisionunilateralforma }} de su voluntad de rescindir el contrato.{% endif %}
    </p>
    
    <p>
    DECIMO PRIMERO: La Arrendataria se obliga a restituir el inmueble arrendado al término del presente contrato, junto con los demás objetos descritos en el inventario, si ello corresponde. 

La entrega que deberá hacer sin ocupantes y colocando a disposición del ARRENDADOR las llaves del inmueble arrendado en {{ entity.restitucionforma }}. 

{% if entity.restitucionacreditacion == "Sí" %}Deberá acreditar que están pagados los servicios básicos (agua, energía eléctrica y gas), con las cuentas y los recibos que acrediten su pago, del mes inmediatamente anterior al que hace abandono del inmueble.{% endif %}
    </p>
    
    {% if entity.garantiadeposito == "Sí" %}
    <p>
        DECIMO SEGUNDO: Con el fin de garantizar la conservación del inmueble arrendado, el ARRENDATARIO entrega en garantía y contra el respectivo recibo, en este acto al ARRENDADOR, {{ entity.garantiaforma }}, la suma {{ entity.garantiamonto }}, que éste se obliga a devolverle dentro de los {{ entity.garantiadiasterminado }} {{ entity.garantiaunidad }}  siguientes a la restitución de la propiedad arrendada, quedando desde luego el ARRENDADOR, autorizado para descontar de la cantidad indicada, la suma de dinero que corresponda a los gastos en que incurra para realizar, una vez que se le haya restituido la propiedad, las mantenciones que se requieran para que la propiedad vuelva al estado en que se encontraba al momento de ser entregada al ARRENDATARIO, y que deban ser de cargo del mismo. 
Lo anterior incluye, por ejemplo, la pintura de muros interiores, el tapado de orificios, reparación de válvulas y baldosas, entre otros.  

El ARRENDATARIO no podrá en ningún caso imputar la garantía al pago de rentas impagas, ni al arriendo del último mes ni al valor de cuentas pendientes de agua y luz. 

Si existen gastos  por reparaciones que fueren de cuenta del arrendatario que superen el monto de la garantía, o en el caso en que el arrendador no hubiere dejado un depósito en garantía, este se obliga a pagarlos dentro de los siguientes {{ entity.garantiadiaspagado }} {{ entity.garantiaunidad }} a la fecha en la que se le requiera, en la forma señalada en último párrafo de la clausula décima.
    </p>
    {% endif %}
    
    {% if entity.aval == "Sí" %}
    <p>
    DECIMO TERCERO: Como garantía de cumplimiento del contrato {% if entity.avalsexo == "Hombre" %}don{% else %}doña{% endif %} {{ entity.avalnombres }} {{ entity.avalapellidopaterno }} {{ entity.avalapellidomaterno }}, {{ entity.avalnacionalidad }}, {{ entity.avalestadocivil }}, de profesión {{ entity.avalprofesion }} cédula de identidad número {{ entity.avalrut }}, con domicilio en {{ entity.avaldomicilio }}, {{ entity.avalcomuna }}, {{ entity.avalregion }} se constituye como codeudor del arrendatario –en adelante en indistintamente, el Aval-, obligándose solidariamente a asumir como propias todas las obligaciones de {{ entity.arrendadornatural }} que emanen del presente contrato de arrendamiento. El aval firma el presente instrumento en señal de aceptación. 
    </p>
    <p>
    DECIMO CUARTO: Las partes fijan domicilio para todos los efectos derivados de este contrato en la comuna de 15, y se someten a la jurisdicción y competencia de sus tribunales de justicia.
    </p>
    
    {% if entity.correo %}
    <p>
DECIMO QUINTO: Para todos los efectos del presente contrato, el ARRENDADOR señala que su correo electrónico es {{ entity.correoarrendador }} y el ARRENDATARIO señala que su correo electrónico es {{ entity.correoarrendatario }}.

Cualquier cambio de correo electrónico o de domicilio de las partes, deberá ser avisado a la contraparte por cualquiera de estos dos medios. Mientras ello no ocurra, seguirán siendo válidos para todos los efectos, los datos señalados en el presente contrato.
</p>
    {% endif %}
{% endif %}
<p>
DECIMO QUINTO: El presente contrato se firma en dos ejemplares de un mismo valor, tenor y fecha; quedando uno en poder de cada parte contratante.
{% if true %}
Si 3 = Persona Jurídica agregar: La personería de 3.2.2.2/3.2.2.3/3.2.2.4 para representar a 3.2.1.1 consta por escritura pública de fecha {{ entity.personeriaarrendadorfecha|date('Y-m-d') }} otorgada en la notaría de {{ entity.personeriaarrendadornotaria }} de {{ entity.personeriaarrendadorlugar }}.
{% endif %}

{% if true %}
Si 4 = Persona Jurídica agregar: La personería de 4.2.2.2/4.2.2.3/4.2.2.4 para representar a 4.2.1.1 consta por escritura pública de fecha {{ entity.personeriaarrendatariofecha|date('Y-m-d H:i:s') }} en la notaría de {{ entity.personeriaarrendatarionotaria }} de {{ entity.personeriaarrendatariolugar }}.
{% endif %}
    </p>
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('arriendo') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
