{% extends '::word.html.twig' %}

{% block body -%}
    <h1>Contrato de Arrendamiento
Entre
{{ entity.arrendadornatural }}
y
{{ entity.arrendatarionatural }}</h1>

    En Santiago, a 9 de abril de 2015
    
    {% if entity.arrendadorpersona == "Natural" %}
    entre {% if entity.arrendadornaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.arrendadornatural }}, {{ entity.arrendadornaturalnacionalidad }}, {{ entity.arrendadornaturalestadocivil }}, {{ entity.arrendadornaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendadornaturalrut }} 
    {% if entity.arrendadornaturalsexo == 'Hombre' %}domiciliado{% else %}domiciliada{%endif %}
    en {{ entity.arrendadornaturaldomicilio }}, comuna de {{ entity.arrendadornaturalcomuna }}, Región {{ entity.arrendadornaturalregion }}
    {% else %}
    entre {% if entity.arrendadornaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.arrendadornaturalnombres }} {{ entity.arrendadornaturalapellidopaterno }} {{ entity.arrendadornaturalapellidomaterno }}, {{ entity.arrendadornaturalnacionalidad }}, {{ entity.arrendadornaturalestadocivil }}, {{ entity.arrendadornaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendadornaturalrut }} en representación de {{ entity.arrendadorjuridicarazon }}, de giro de {{ entity.arrendadorjuridicagiro }}, rol único tributario número {{ entity.arrendadorjuridicarut }}, todos domiciliados para estos efectos en {{ entity.arrendadorjuridicadomicilio }}, comuna de {{ entity.arrendadorjuridicacomuna }}, Región {{ entity.arrendadorjuridicaregion }}, 
    {% endif %}
    en adelante e indistintamente, EL ARRENDADOR, por una parte, y por la otra,
    {% if entity.arrendatarionaturalsexo == 'Hombre' %}don{% else %}doña{%endif %}
    {% if entity.arrendatariopersona == "Natural" %}
    {{ entity.arrendatarionaturalnombres }} {{ entity.arrendatarionaturalapellidopaterno }} {{ entity.arrendatarionaturalapellidomaterno }}, {{ entity.arrendatarionaturalnacionalidad }}, {{ entity.arrendatarionaturalestadocivil }}, {{ entity.arrendatarionaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendatarionaturalrut }} 
    {% if entity.arrendatarionaturalsexo == 'Hombre' %}domiciliado{% else %}domiciliada{%endif %} 
    en {{ entity.arrendatarionaturaldomicilio }}, comuna de {{ entity.arrendatarionaturalcomuna }}, Región {{ entity.arrendatarionaturalregion }}, en adelante e indistintamente, EL ARRENDATARIO, han convenido en celebrar el siguiente contrato de arrendamiento, el cual se regirá la Ley N° 18.101 sobre arrendamiento de predios urbanos, y por disposiciones pertinentes del Código Civil.
    {% else %}
    {% if entity.arrendatarionaturalsexo == "Hombre" %}Don{% else %}Doña{% endif %} {{ entity.arrendatarionaturalnombres }} {{ entity.arrendatarionaturalapellidopaterno }} {{ entity.arrendatarionaturalapellidomaterno }}, {{ entity.arrendatarionaturalnacionalidad }}, {{ entity.arrendatarionaturalestadocivil }}, {{ entity.arrendatarionaturalprofesion }}, cédula nacional de identidad número {{ entity.arrendatarionaturalrut }} en representación de {{ entity.arrendatariojuridicarazon }}, del giro {{ entity.arrendatariojuridicagiro }}, rol único tributario número {{ entity.arrendatariojuridicarut }}, todos domiciliados en {{ entity.arrendatariojuridicadomicilio }}, comuna de {{ entity.arrendatariojuridicacomuna }}, Región {{ entity.arrendatariojuridicaregion }}, en adelante e indistintamente, EL ARRENDATARIO, han convenido en celebrar el siguiente contrato de arrendamiento, el cual se regirá la Ley N° 18.101 sobre arrendamiento de predios urbanos, y por disposiciones pertinentes del Código Civil.
    {% endif %}
    
    <p>PRIMERO: {% if entity.arrendadornaturalsexo == 'Hombre' %}Don{% else %}Doña{%endif %} {{ entity.arrendadornatural }} declara bajo juramento que es dueño de la propiedad raíz ubicada en {{ entity.propiedadcalle }} {{ entity.propiedadnumero }} {{ entity.propiedaddepartamento is empty ? '' : entity.propiedaddepartamento }}, {% if entity.propiedadvilla %}{{ entity.propiedadvilla }}, {%endif %}comuna de {{ entity.propiedadcomuna }}, Región {{ entity.propiedadregion }}., el adelante, el BIEN ARRENDADO.</p>
    
    <p>SEGUNDO: Por el presente instrumento EL ARRENDADOR, entrega en arriendo a EL ARRENDATARIO, quien acepta, el inmueble singularizado en la cláusula precedente por los plazos y en las condiciones que en el presente contrato se establecen.</p>
    
    <p>TERCERO: El plazo de duración del presente contrato de arrendamiento será de {{ entity.plazocantidad }} {{ entity.plazounidad }} contados desde la fecha del presente contrato.
    
    {% if entity.plazoprorroga %}
    Sin perjuicio de lo anterior, el contrato se entenderá prorrogado automáticamente por períodos de {{ entity.plazoprorrogatiempo }} si ninguna de las partes manifiesta su intención de terminar el contrato con a lo menos {{ entity.plazoaviso }} de anticipación a la fecha de término del mismo o de alguna de sus prórrogas, mediante {% if entity.plazoforma %}{{ entity.plazoforma }}{% else %}{{ entity.plazocarta }}{% endif %} ARRENDADOR señalada en el presente contrato. 
    {% endif %}
    </p>
    
    <p>
    CUARTO: La renta de arrendamiento {{ entity.rentaperiodo }} será la suma de ${{ entity.rentamonto }} {{ entity.rentaunidad }}, que la arrendataria deberá pagar, {{ entity.rentatiempo }}, de manera anticipada, entre los días {{ entity.rentadias }} del mes en que corresponda hacer el pago, 
    {% if entity.rentamediopago == "efectivo" %}
    en efectivo entregado en el domicilio del arrendador señalado en la comparecencia{{ entity.rentamedioefectivo }}
    {% elseif entity.rentamediopago == "cheque" %}
    a través de un {{ entity.rentamediocheque }},
    {% elseif entity.rentamediopago == "deposito" %}
    depositando en la cuenta {{ entity.rentamediodepositotipo }} número {{ entity.rentamediodepositonumero }} del Banco {{ entity.rentamediodepositobanco }} a nombre de {{ entity.rentamediodepositotitular }}. Luego deberá enviar el comprobante de pago {{ entity.rentamediodepositoenvio }} señalado en la comparecencia. 
    {% endif %}
    
    {% if entity.rentamedioreajuste %}
    Dicha renta se reajustará {{ entity.rentareajusteperiodo }} por {{ entity.rentareajusteforma }}, durante dicho período.

El período de reajuste se iniciará en el primer mes de contrato, o el mes en que se haya efectuado el último reajuste de la renta, y se hará efectivo en la renta que corresponda al mes siguiente a aquel en que hubiere expirado el período de reajuste señalado en el párrafo anterior.

    {% else %}
    Dicha renta no se reajustará.
    {% endif %}
    
    {% if entity.rentamorasancion %}
    Luego de {{ entity.rentamoraperiodo }} desde que el ARRENDATARIO se hubiera constituido en mora en el pago de la renta de arrendamiento, este deberá pagar, como multa por dicho retraso, {{ entity.rentamoravalor }} por día de atraso. Estas multas deberán ser pagadas junto con la renta del mes siguiente a aquel en que se hubieren generado.
    {% endif %}
    
    {% if entity.rentacobranza %}
    Asimismo, si luego de {{ entity.rentacobranzaplazo }} de mora EL ARRENDATARIO no pagare las rentas de arrendamiento, junto a las multas que correspondan, EL ARRENDATARIO podrá iniciar la cobranza judicial de las rentas de arrendamiento vencidas, lo que deberá ser notificado al ARRENDATARIO {{ entity.rentacobranzanotificacion }}.

El ARRENDADOR deberá costear los honorarios de los abogados que tramiten dichos cobros, que de forma anticipada se avalúan en {{ entity.rentacobranzaavaluo }}

Las multas u honorarios señalados en los párrafos anteriores deberán ser pagados por el ARRENDATARIO junto con la renta del mes siguiente a aquel en que dichas multas u honorarios se hubieren generado, y para todos los efectos, pasarán a formar parte de las rentas adeudadas por el ARRENDATARIO al ARRENDADOR.
    {% endif %}
    </p>
    <p>
    QUINTO: {% if entity.entregafecha %}La entrega material del inmueble arrendado se realiza el {{ entity.entregafecha }}.{% endif %} El ARRENDATARIO declara conocer y aceptar el estado de mantención y conservación del INMUEBLE ARRENDADO, obligándose a restituirlo al término del contrato de arrendamiento, en el mismo estado que lo recibió, con el desgaste natural por el uso normal y el paso del tiempo. {% if entity.entregainventario %}Junto al inmueble, se entregan los bienes que se detallan en el inventario que se acompaña al presente contrato, el que debidamente firmado por las partes forma parte del mismo. Dichos bienes deberán ser restituidos al momento en que el inmueble se restituya.{% endif %}
    </p>
    <p>
    SEXTO: En virtud del presente contrato, EL ARRENDATARIO se obliga a: 
    <ol type="a">
        <li>Pagar oportunamente los consumos de agua, energía eléctrica, y gas del inmueble.</li>
        <li>Mantener en buen estado de conservación las instalaciones eléctricas, paredes, cielos, pisos, y artefactos sanitarios, entre otros, debiendo repararlos o cambiarlos a su costo si estos se destruyen o deterioran por su uso.</li>
        <li>En el caso que por acción del ARRENDATARIO o la de alguno de sus dependientes se produzcan daños en las propiedades vecinas o en los bienes comunes si existieren, deberá reparar a su cuenta el daño. </li>
        <li>Dar todas las facilidades necesarias para que el ARRENDADOR pueda visitar el inmueble durante la vigencia del contrato para verificar su estado. 
</li>
<li>Permitir que el inmueble sea visitado por interesados en habitar el inmueble durante los últimos {{ entity.restitucionvisitaplazo }} {{ entity.restitucionvisitaunidad }} de vigencia del contrato, coordinándose previamente con el ARRENDADOR.
</li>
<li>Avisar al ARRENDADOR cuando se produzcan desperfectos en el inmueble que, según lo establecido en el presente contrato o en las leyes que regulan esta materia, deban ser reparados por el, dentro de las 72 horas siguientes al momento en que ARRENDATARIO se hubiese dado cuenta de esos desperfectos. Si el ARRENDATARIO o sus representantes no inician dentro los {{ entity.restitucioninicioplazo }} {{ entity.restitucioniniciounidad }} siguientes al aviso señalado en el párrafo anterior, las acciones destinadas a reparar dichos desperfectos, el ARRENDATARIO podrá realizarlas, descontando el costo de ellas de la renta de arrendamiento siguiente a la fecha en que se hubieren realizado dichos gastos.</li>
    <li>Avisar al ARRENDADOR y/o reenviarle a la dirección señalada en el primer párrafo de este contrato cualquier notificación o comunicación de la Tesorería General de la República, el Servicio de Impuestos Internos, cualquier organismo de la administración del estado o un tercero que hubiese sido remitida, a su nombre, al INMUEBLE ARRENDADO, dentro de las 72 horas siguientes al momento en que hubiese recibido esa comunicación.</li>
    </ol>
    </p>
    <p>
        SEPTIMO: Las mejoras que ejecutare el ARRENDATARIO, quedarán a beneficio de la propiedad, salvo que pueda retirarlas del inmueble arrendado sin detrimento o daño en el mismo.
    </p>    
    <p>
        OCTAVO: Queda prohibida a al ARRENDATARIO lo siguiente: 
    <ol type="a">
    {% if entity.prohibicionsubarriendo %}
        <li>Subarrendar o transferir a cualquier título el inmueble arrendado.</li>
    {% endif %}
    {% if entity.prohibicionvariaciones %}
        <li>Hacer variaciones o transformaciones que afecten la estructura interna o externa del inmueble arrendado sin autorización por escrito del ARRENDADOR.</li>
    {% endif %}
    {% if entity.prohibicionutilizacion %}
        <li>Utilizar el inmueble con un fin distinto al que fue establecido en la cláusula primera del presente contrato.</li>
    {% endif %}
    {% if entity.prohibicionretraso %}
        <li>Retrasarse en el pago de las cuentas de servicios básicos (luz, agua potable, gas), o en los gastos comunes.</li>
    {% endif %}
    {% if entity.prohibicionperturbacion %}
        <li>Realizar cualquier acción que perturbe a los vecinos del inmueble, tales como ruidos molestos u obras en el inmueble a horas inadecuadas, entre otras.</li>
    {% endif %}
    {% if entity.prohibicionagujeros %}
        <li>Hacer agujeros en las paredes o puertas.</li>
    {% endif %}
    {% if entity.prohibicionnormativa %}
        <li>No cumplir con la normativa interna del condominio o edificio si corresponde.</li>
    {% endif %}
    {% if entity.prohibicionaccionilegal %}
        <li>Ejecutar cualquier acción ilegal, o contraria al orden público, en el interior del inmueble.</li>
    {% endif %}
        </ol>
    </p>
    
    <p>
        NOVENO: Por su parte, EL ARRENDADOR estará obligado a: 1) Pagar oportunamente las contribuciones de bienes raíces. 2) Garantizar al ARRENDATARIO el goce, libre de toda turbación, durante el tiempo que dure el presente contrato. 3) Realizar a su costo las reparaciones de los deterioros producidos en el INMUEBLE ARRENDADO por el paso del tiempo, o por fuerza mayor, tales como daños estructurales producidos por terremotos o inundaciones. También deberá costear las reparaciones en los ascensores, el reemplazo o la reparación de calefones, y la reparación o reemplazo de cañerías viejas o rotas, con el fin de que el INMUEBLE ARRENDADO siga siendo útil para el fin señalado en la clausula primera, sin que pueda a causa de estos gastos, subir la renta mensual de arriendo.
    </p>
    
    <p>
    DECIMO: La ARRENDADORA estará facultada para poner término inmediato al presente contrato, sin necesidad de declaración judicial, si:
        a) La Arrendataria se atrasare más de {{ entity.recisionpago }} {{ entity.recisionunidad }} en el pago de la renta de arrendamiento establecida en la cláusula cuarta de este contrato.
        b) La Arrendataria infringiere cualesquiera de las obligaciones contraídas por ella en este contrato, en especial las establecidas en la clausulas sexta, séptima o octava del mismo.
        c) Las demás causas establecidas en la ley.
    </p>
    <p>
        DECIMO PRIMERO: A su vez, el ARRENDATARIO podrá poner término al presente contrato sin necesidad de declaración judicial, si:
        <ol>
            <li>Se produce un daño o desperfecto en el INMUEBLE ARRENDADO que no permita seguir utilizándolo para el fin por el que fue arrendado, y que, debiendo ser reparado por el ARRENDADOR, este no hubiese iniciado las labores de reparación dentro de XXX</li>
            <li>Se incumpla gravemente cualquiera de las obligaciones establecidas por el presente contrato al ARRENDADOR, en especial, las señaladas en la clausula novena.</li> 
            <li>Las demás causales que señale la ley.</li>
        </ol>
    </p>
    
    <p>
        DECIMOSEGUNDO: Al término del presente contrato, EL ARRENDATARIO se obliga a restituir el inmueble arrendado al ARRENDADOR, con los gastos comunes al día, desocupado y limpio, poniendo a su disposición las llaves en un lugar previamente acordado, o en el domicilio que el hubiere señalado en el presente contrato. 
        Asimismo, el ARRENDATARIO deberá entregar, junto con las llaves del inmueble, una copia de las cuentas y sus respectivos recibos de pago, que acrediten la cancelación de los servicios básicos (agua potable, luz y gas) del mes inmediatamente anterior al que hace abandono del inmueble.
    </p>
    
    {% if entity.garantiadeposito %}
    <p>
        DECIMO TERCERO: Con el fin de garantizar la conservación del inmueble arrendado, el ARRENDATARIO entrega en garantía y contra el respectivo recibo, en este acto al ARRENDADOR, la suma {{ entity.garantiamonto }}, que éste se obliga a devolverle dentro de los {{ entity.garantiadiasterminado }} {{ entity.garantiaunidad }} siguientes a la restitución de la propiedad arrendada, quedando desde luego el ARRENDADOR, autorizado para descontar de la cantidad indicada, la suma de dinero que corresponda a los gastos en que incurra para realizar, una vez que se le haya restituido la propiedad, las mantenciones que se requieran para que la propiedad vuelva al estado en que se encontraba al momento de ser entregada al ARRENDATARIO, y que deban ser de cargo del mismo. 
Lo anterior incluye, por ejemplo, la pintura de muros interiores, el tapado de orificios, reparación de válvulas y baldosas, entre otros.  

El ARRENDATARIO no podrá en ningún caso imputar la garantía al pago de rentas impagas, ni al arriendo del último mes ni al valor de cuentas pendientes de agua y luz. 

Si existen gastos por reparaciones que fueren de cuenta del arrendatario que superen el monto de la garantía, o en el caso en que el arrendador no hubiere dejado un depósito en garantía, este se obliga a pagarlos dentro de los siguientes {{ entity.garantiadiaspagado }} {{ entity.garantiaunidad }} a la fecha en la que se le requiera.
    </p>
    {% endif %}
    
{% if entity.aval %}
    <p>
    DECIMO CUARTO: Como garantía de cumplimiento del contrato {% if entity.avalsexo == "Hombre" %}don{% else %}doña{% endif %} {{ entity.avalnombres }} {{ entity.avalapellidopaterno }} {{ entity.avalapellidomaterno }}, {{ entity.avalnacionalidad }}, {{ entity.avalestadocivil }}, de profesión {{ entity.avalprofesion }} cédula de identidad número {{ entity.avalrut }}, con domicilio en {{ entity.avaldomicilio }}, comuna de {{ entity.avalcomuna }}, Región {{ entity.avalregion }} se constituye como codeudor del arrendatario –en adelante en indistintamente, el AVAL-, obligándose solidariamente a asumir como propias todas las obligaciones de {{ entity.arrendadornatural }} que emanen del presente contrato de arrendamiento. El AVAL firma el presente instrumento en señal de aceptación. 
    </p>
    <p>
    DECIMO QUINTO: Las partes fijan domicilio para todos los efectos derivados de este contrato en la comuna de XXX, y se someten a la jurisdicción y competencia de sus tribunales de justicia.
    </p>
{% endif %}

{% if entity.correo %}
    <p>
DECIMO SEXTO: Para todos los efectos del presente contrato, el ARRENDADOR señala que su correo electrónico es {{ entity.correoarrendador }} y el ARRENDATARIO señala que su correo electrónico es {{ entity.correoarrendatario }}.

Cualquier cambio de correo electrónico o de domicilio de las partes, deberá ser avisado a la contraparte por cualquiera de estos dos medios. Mientras ello no ocurra, seguirán siendo válidos para todos los efectos, los datos señalados en el presente contrato.
</p>
{% endif %}
<p>
DECIMO SÉPTIMO: El presente contrato se firma en dos ejemplares de un mismo valor, tenor y fecha; quedando uno en poder de cada parte contratante.
{% if true %}
Si 3 = Persona Jurídica agregar: La personería de 3.2.2.2/3.2.2.3/3.2.2.4 para representar a 3.2.1.1 consta por escritura pública de fecha {{ entity.personeriaarrendadorfecha|date('Y-m-d') }} otorgada en la notaría de {{ entity.personeriaarrendadornotaria }} de {{ entity.personeriaarrendadorlugar }}.
{% endif %}
{% if true %}
Si 4 = Persona Jurídica agregar: La personería de 4.2.2.2/4.2.2.3/4.2.2.4 para representar a 4.2.1.1 consta por escritura pública de fecha {{ entity.personeriaarrendatariofecha|date('Y-m-d H:i:s') }} en la notaría de {{ entity.personeriaarrendatarionotaria }} de {{ entity.personeriaarrendatariolugar }}.
{% endif %}
    </p>
    
        <ul class="record_actions">
    <li>
        <a href="{{ path('arriendo') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}
