<div class="modal fade" id="myModal__name__" tabindex="-1" role="dialog" aria-labelledby="myModalLabel__name__">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel__name__">Representante legal</h4>
      </div>
      <div class="modal-body">
        {{ form_row(form.sexo) }}
        {{ form_row(form.nombres) }}
        {{ form_row(form.apellido_paterno) }}
        {{ form_row(form.apellido_materno) }}
        {{ form_row(form.nacionalidad) }}
        {{ form_row(form.rut) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
