{% extends '::word.html.twig' %}

{% block body -%}
    {% spaceless %}
    <p></p>
    <p>En {{ entity.ciudad|upper }}, a {{ entity.fecha|date_in_words }}, yo, {% if entity.otorgantepersona == "Natural" %}{% if entity.otorgantenaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.otorgantenatural }}, {{ entity.otorgantenaturalnacionalidad }}, {{ entity.otorgantenaturalestadocivil }}, {{ entity.otorgantenaturalprofesion|lower }}, cédula nacional de identidad o pasaporte número {{ entity.otorganteNaturalRut }} con domicilio en {{ entity.otorgantenaturaldomicilio }}, comuna de {{ entity.otorgantenaturalcomuna }}, Región {{ entity.otorgantenaturalregion }},{% else %}{% for representante in entity.otorganterepresentante %}{% if loop.index > 1%}, y {% endif %}{% if representante.sexo == 'Hombre' %}don{% else %}doña{%endif %} {{ representante.nombres }} {{ representante.apellidopaterno }} {{ representante.apellidomaterno }}, {{ representante.nacionalidad }}{#, {{ representante.cargo }}#}, cédula nacional de identidad número {{ representante.rut }}{% endfor %} en representación de {{ entity.otorgantejuridicarazon }}, de giro de {{ entity.otorgantejuridicagiro }}, rol único tributario número {{ entity.otorgantejuridicarut }}, todos domiciliados para estos efectos en {{ entity.otorgantejuridicadomicilio }}, comuna de {{ entity.otorgantejuridicacomuna }}, Región {{ entity.otorgantejuridicaregion }},{% endif %} vengo en otorgar poder a {% if entity.recibidonaturalsexo == 'Hombre' %}don{% else %}doña{%endif %} {{ entity.recibidonaturalnombres }} {{ entity.recibidonaturalapellidopaterno }} {{ entity.recibidonaturalapellidomaterno }}, cédula nacional de identidad o pasaporte número {{ entity.recibidonaturalrut }} para que, en mi nombre y representación, {{ entity.motivo }}.</p>
    {% endspaceless %}
    
    {% if entity.otorgantepersona == "Natural" %}
    <h2>________________________</h2><h2>{{ entity.otorgantenatural }}</h2><h2>RUT: {{ entity.otorgantenaturalrut }}</h2>
    {% else %}
    {% for representante in entity.otorganterepresentante %}<h2>________________________</h2>
    <h2>{{ representante.nombres }} {{ representante.apellidopaterno }} {{ representante.apellidomaterno }}</h2><h2>RUT: {{ representante.rut }}</h2>
    {% endfor %}
    <h2>P.p. {{ entity.otorgantejuridicarazon }}</h2>
    {% endif %}
{% endblock %}
